<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<customErrors mode="Off"/>
	</system.web>
	<connectionStrings>
		<add name="TMBizFestConnString" connectionString="Data Source=SP2013DB;Initial Catalog=tm_sme_bizfest;Database=tm_sme_bizfest;User Id=smebizfest;Password=bizfestSme;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="Mom APP Testing &lt;groupitsupport@tm.com.my&gt;">
				<network defaultCredentials="false" host="smtp.tm.com.my" port="25" enableSsl="false" userName="groupitsupport@tm.com.my" password="streamyx123" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
